body{
	border:3px inset;
	 margin-top:10px;
	margin-left:10px;
	margin-right:10px;

border-color:#dcdcdc;
margin-bottom: 10px; 
background:#e6e6fa;
}

p{  font-size:18px;
	margin-left:40px;
	margin-right:25px;
	text-align:justify;}
img{
	border-style:groove;
	border-color:483d8b;
	border-radius:20px;
	border-width:1px;
	float:center;
}
h2{color:#483d8b;
	text-align:center;
	font-size:18px;
	margin-left:40px;
	margin-right:25px;
}
h4{color:#483d8b;
	margin-left:40px;
	margin-right:25px;
	font-size:18px;
}
b{color:#483d8b;
 margin-left:40px
 margin-right:25px;
 font-size:18px;
}
ul li{margin-left:40px;
	margin-right:25px;
	font-size:18px;
}
ol li{margin-left:40px;
	margin-right:25px;
	font-size:18px;
}